.display{
    margin:10px;
}
.dropbtn{
    height:30px;
    width:120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    background-color: white;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    border-radius: 5px;
    font-size:15px;
}
.dropdown-content{
    margin:10px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    height:120px;
    width:280px;
   
    
}
.grouping{
    margin:10px;
    padding: 20px 0px 20px 20px;
    
}
.grouping label{
    margin-right:68.5px;
    color:darkgray;
}
.grouping select{
    width:80px;
}
.sorting{
    margin:10px;
    padding: 0px 20px 20px 20px;
    display:flex;
    justify-content: space-between;
    
}
.sorting label{
    margin-right:65px;
    color:darkgray;
}
.sorting select{
    width:80px;
}
.jj{
    color:darkgray;
}
